:root {
  --primary: #7289da;
  --primary-shade: #5c6fb1;
  --primary-hover: rgba(114, 137, 218, 0.1);
  --primary-active: #4e5d94;
  --secondary: #747f8d;
  --secondary-hover: rgba(116, 127, 141, 0.1);
  --success: #43b581;
  --success-hover: rgba(67, 181, 129, 0.1);
  --danger: #f04747;
  --danger-hover: rgba(240, 71, 71, 0.1);
  --text: #ffffff;
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-tertiary: #202225;
  --background-floating: #18191c;
  --interactive: #b9bbbe;
  --interactive-active: var(--text);
  --interactive-hover: #dcddde;
}

.disabled,
*:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.noselect,
.item {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  user-select: none;
}

.visibleOnHover {
  opacity: 0;
}
.visibleOnHover:hover {
  opacity: 1;
}

:root {
  --BTN-primary-background: var(--primary);
  --BTN-primary-border: var(--primary);
  --BTN-primary-color: var(--text);
  --BTN-primary-hover-background: #677bc4;
  --BTN-primary-active-background: #5b6eae;
  --BTN-primary-outline-active-background: var(--primary-hover);
  --BTN-secondary-background: var(--secondary);
  --BTN-secondary-border: var(--secondary);
  --BTN-secondary-color: var(--text);
  --BTN-secondary-hover-background: #68727f;
  --BTN-secondary-active-background: #5d6671;
  --BTN-secondary-outline-active-background: var(--secondary-hover);
  --BTN-danger-background: var(--danger);
  --BTN-danger-border: var(--danger);
  --BTN-danger-color: var(--text);
  --BTN-danger-hover-background: #d84040;
  --BTN-danger-active-background: #c03939;
  --BTN-danger-outline-active-background: var(--danger-hover);
  --BTN-success-background: var(--success);
  --BTN-success-border: var(--success);
  --BTN-success-color: var(--text);
  --BTN-success-hover-background: #3ca374;
  --BTN-success-active-background: #35976b;
  --BTN-success-outline-active-background: var(--success-hover);
  --BTN-link-background: transparent;
  --BTN-link-border: transparent;
  --BTN-link-color: var(--text);
  --BTN-link-hover-background: transparent;
  --BTN-focus-color: #00b0f4;
  --BTN-focus-radius: 3px;
}

.btn {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 2px 16px;
  min-width: 60px;
  min-height: 32px;
  cursor: pointer;
  transition: border-color 0.17s ease, background-color 0.17s ease, color 0.17s ease;
}
.btn:focus {
  outline: none;
}
.btn.outline {
  background-color: transparent;
}
.btn.outline:hover {
  background-color: transparent;
}
.btn.primary {
  background-color: var(--BTN-primary-background);
  border-color: var(--BTN-primary-border);
  color: var(--BTN-primary-color);
}
.btn.primary:hover {
  background-color: var(--BTN-primary-hover-background);
  border-color: var(--BTN-primary-hover-background);
}
.btn.primary:active {
  background-color: var(--BTN-primary-active-background);
  border-color: var(--BTN-primary-active-background);
}
.btn.primary.outline {
  color: var(--BTN-primary-background);
}
.btn.primary.outline:active {
  background-color: var(--BTN-primary-outline-active-background) !important;
}
.btn.secondary {
  background: var(--BTN-secondary-background);
  border-color: var(--BTN-secondary-border);
  color: var(--BTN-secondary-color);
}
.btn.secondary:hover {
  background-color: var(--BTN-secondary-hover-background);
  border-color: var(--BTN-secondary-hover-background);
}
.btn.secondary:active {
  background-color: var(--BTN-secondary-active-background);
  border-color: var(--BTN-secondary-active-background);
}
.btn.secondary.outline {
  color: var(--BTN-secondary-background);
}
.btn.secondary.outline:active {
  background-color: var(--BTN-secondary-outline-active-background) !important;
}
.btn.danger {
  background: var(--BTN-danger-background);
  border-color: var(--BTN-danger-border);
  color: var(--BTN-danger-color);
}
.btn.danger:hover {
  background-color: var(--BTN-danger-hover-background);
  border-color: var(--BTN-danger-hover-background);
}
.btn.danger:active {
  background-color: var(--BTN-danger-active-background);
  border-color: var(--BTN-danger-active-background);
}
.btn.danger.outline {
  color: var(--BTN-danger-background);
}
.btn.danger.outline:active {
  background-color: var(--BTN-danger-outline-active-background) !important;
}
.btn.success {
  background: var(--BTN-success-background);
  border-color: var(--BTN-success-border);
  color: var(--BTN-success-color);
}
.btn.success:hover {
  background-color: var(--BTN-success-hover-background);
  border-color: var(--BTN-success-hover-background);
}
.btn.success:active {
  background-color: var(--BTN-success-active-background);
  border-color: var(--BTN-success-active-background);
}
.btn.success.outline {
  color: var(--BTN-success-background);
}
.btn.success.outline:active {
  background-color: var(--BTN-success-outline-active-background) !important;
}
.btn.link {
  background: var(--BTN-link-background);
  border-color: var(--BTN-link-border);
  color: var(--BTN-link-color);
}
.btn.link:hover {
  background-color: var(--BTN-link-hover-background);
  text-decoration: underline;
}
.btn.outline {
  background-color: initial;
}
.btn.outline:hover {
  background-color: initial;
}

:root {
  --ICON-color: #b9bbbe;
}

i.icon {
  color: var(--ICON-color);
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  mask-position: center;
}
i.icon path {
  fill: currentColor;
}
i.icon.size-half {
  width: 15px;
  height: 15px;
}
i.icon.size-1, i.icon {
  width: 25px;
  height: 25px;
}
i.icon.size-2 {
  width: 50px;
  height: 50px;
}
i.icon.size-3 {
  width: 75px;
  height: 75px;
}

.settings {
  -webkit-mask-image: url(../icons/solid/cog.svg);
  mask-image: url(../icons/solid/cog.svg);
}

.voice-chat {
  -webkit-mask-image: url(../icons/solid/volume-up.svg);
  mask-image: url(../icons/solid/volume-up.svg);
}

.chevron-down {
  -webkit-mask-image: url(../icons/solid/chevron-down.svg);
  mask-image: url(../icons/solid/chevron-down.svg);
}

:root {
  --TEXT-default: #dcddde;
  --TEXT-secondary: #b9bbbe;
  --TEXT-title: #8e9297;
  --TEXT-link: #00b0f4;
  --TEXT-anchor: #ffffff;
  --TEXT-muted: #72767d;
}

p {
  margin: 0;
}

.text.default {
  font-size: 1rem;
  color: var(--TEXT-default);
}
.text.secondary {
  font-size: 14px;
  font-weight: 400;
  color: var(--TEXT-secondary);
}
.text.muted {
  font-size: 0.75rem;
  color: var(--TEXT-muted);
}
.text.title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--TEXT-title);
}
.text.link {
  color: var(--TEXT-link);
  text-decoration: none;
}
.text.link:hover {
  text-decoration: underline;
}
.text.anchor {
  color: var(--TEXT-anchor);
  text-decoration: none;
}
.text.anchor:hover {
  text-decoration: underline;
}

h3 {
  font-weight: 500;
  font-size: 16px;
}

:root {
  --LIST-separator-color: #ffffff0f;
  --LIST-primary-color: var(--primary);
  --LIST-primary-hover-color: var(--primary-hover);
  --LIST-primary-active-color: var(--primary-active);
  --LIST-success-color: var(--success);
  --LIST-success-hover-color: var(--success-hover);
  --LIST-danger-color: var(--danger);
  --LIST-danger-hover-color: var(--danger-hover);
  --LIST-background-accent: var(--background-tertiary);
  --LIST-selected-color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
  border-radius: 4px;
}
.list .separator {
  margin: 8px 10px;
  height: 1px;
  background-color: var(--LIST-separator-color);
}
.list.accent {
  background-color: var(--LIST-background-accent);
  padding: 6px 8px;
}
.list.accent .item:hover, .list.accent .item.hover {
  color: var(--LIST-selected-color);
  background-color: var(--LIST-primary-color);
}
.list.accent .item:active, .list.accent .item.active {
  background-color: var(--LIST-primary-active-color);
}
.list.collapsed .title i {
  transform: rotate(-90deg);
}
.list.collapsed .item,
.list.collapsed .title:not(.collapse),
.list.collapsed .separator {
  display: none;
}
.list .title {
  padding-top: 0;
}
.list .title i {
  margin-left: -13px;
  color: inherit;
  width: 10px;
  height: 10px;
  transition: transform 0.2s ease;
}

.list .item,
.list-item,
.list .title {
  padding: 6px 10px;
}

.list .item,
.list-item {
  margin-bottom: 2px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--interactive);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list .item i,
.list-item i {
  height: 15px;
  width: 15px;
}
.list .item i.left,
.list-item i.left {
  margin-right: 6px;
}
.list .item i.right,
.list-item i.right {
  margin-left: 6px;
  height: 12px;
  width: 12px;
}
.list .item .content,
.list-item .content {
  flex-grow: 1;
}
.list .item:hover,
.list-item:hover {
  background-color: #4f545c29;
  color: var(--interactive-hover);
}
.list .item:hover .visibleOnHover,
.list-item:hover .visibleOnHover {
  opacity: 1;
}
.list .item:active, .list .item.active,
.list-item:active,
.list-item.active {
  background-color: #4f545c52;
  color: var(--interactive-active);
}
.list .item.primary,
.list-item.primary {
  color: var(--LIST-primary-color);
}
.list .item.primary:hover,
.list-item.primary:hover {
  background-color: var(--LIST-primary-hover-color);
}
.list .item.primary:active, .list .item.primary.active,
.list-item.primary:active,
.list-item.primary.active {
  color: var(--LIST-selected-color);
  background-color: var(--LIST-primary-color);
}
.list .item.danger,
.list-item.danger {
  color: var(--LIST-danger-color);
}
.list .item.danger:hover,
.list-item.danger:hover {
  background-color: var(--LIST-danger-hover-color);
}
.list .item.danger:active, .list .item.danger.active,
.list-item.danger:active,
.list-item.danger.active {
  color: var(--LIST-selected-color);
  background-color: var(--LIST-danger-color);
}
.list .item.success,
.list-item.success {
  color: var(--LIST-success-color);
}
.list .item.success:hover,
.list-item.success:hover {
  background-color: var(--LIST-success-hover-color);
}
.list .item.success:active, .list .item.success.active,
.list-item.success:active,
.list-item.success.active {
  color: var(--LIST-selected-color);
  background-color: var(--LIST-success-color);
}

.single-input {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: #dcddde;
  display: block;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-style: none;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: start;
  text-shadow: none;
  text-transform: none;
  user-select: none;
  width: 300px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  transition: border-color 0.2s ease-in-out;
}
.single-input:focus {
  border-color: #7289da;
}

.textarea-input {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: #dcddde;
  cursor: text;
  display: inline-block;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 84.4px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: #dcddde;
  outline-style: none;
  outline-width: 0px;
  overflow-wrap: break-word;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 31.69px;
  padding-top: 10px;
  resize: none;
  text-align: start;
  text-indent: 0px;
  text-rendering: optimizelegibility;
  text-shadow: none;
  text-transform: none;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: border-color;
  transition-timing-function: ease-in-out;
  user-select: none;
  white-space: pre-wrap;
  width: 602.6px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-box-direction: normal;
}
.textarea-input:focus {
  border-color: #7289da;
}

/* .slider > .bar {
    position: relative;
    background: #4f545c;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    width: 300px;
    overflow: hidden;  
    padding: 4px;
}

.slider > .bar > .barFill {
    position: absolute;
    background: #7289da;
    height: 100%;
    top: 0;
    left: 0;
}

.slider > .track > .grabber {
    position: relative;
    width: 10px;
    height: 24px;
    margin-top: -17px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #dcddde;
    -webkit-box-shadow: 0 3px 1px 0 rgb(0 0 0 / 5%), 0 2px 2px 0 rgb(0 0 0 / 10%), 0 3px 3px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 3px 1px 0 rgb(0 0 0 / 5%), 0 2px 2px 0 rgb(0 0 0 / 10%), 0 3px 3px 0 rgb(0 0 0 / 5%);
    cursor: ew-resize;
}

.slider > .input-2_SV {
    display: none;
} */
.slider {
  position: relative;
  width: 20%;
  margin-bottom: 10px;
}

.slider > #slider-2_VSajs {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  outline: none;
  background: #4f545c;
  border-radius: 4px;
  height: 8px;
  width: 100%;
}

.slider > #slider-2_VSajs::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default CSS styles */
  position: relative;
  appearance: none;
  width: 10px;
  display: block;
  height: 24px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #dcddde;
  -webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  opacity: 0;
  z-index: 6;
}

.slider > #slider-2_VSajs::-webkit-slider-thumb:hover {
  cursor: ew-resize;
}

.slider > #progressBar {
  position: absolute;
  background: #7289da;
  border-radius: 4px;
  width: 50%;
  height: 7.3px;
  top: 36%;
  left: 0;
}

.slider > #selector > #grabber {
  position: absolute;
  width: 9px;
  height: 22px;
  border-radius: 3px;
  background: #fff;
  top: -13%;
  border: 1px solid #dcddde;
  -webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  cursor: ew-resize;
  z-index: 5;
}

.slider > #selector > #grabber[data-hovered=true] {
  content: attr(data-value);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -35px;
  margin-left: -20px;
  background: #25272b;
  padding: 5px 5px;
  border-radius: 3px;
  transition: 3s;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.28);
}

/* BACKGROUND #18191c */
/* TEXT #b9bbbe */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background: #18191c;
  padding: 6px 8px;
  border-radius: 4px;
  min-width: 188px;
  max-width: 320px;
  /* transition: 0.1s; */
}

.menu > .scroller > .separator {
  margin: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.menu > .scroller > div[role=group] > .item {
  padding: 6px 8px;
  border-radius: 2px;
  user-select: none;
}

.menu > .scroller > div[role=group] > .item[data-type=normal]:hover {
  color: #fff;
  background: #5c6fb1;
  cursor: pointer;
}

.menu > .scroller > div[role=group] > .item[data-type=slider]:hover {
  color: #fff;
}

.menu > .scroller > div[role=group] > .item > .label {
  color: #b9bbbe;
}

/* Slider */
.menu > .scroller > div[role=group] > .item > .slider {
  position: relative;
  width: 100%;
}

.menu > .scroller > div[role=group] > .item > .slider > #slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  outline: none;
  background: #4f545c;
  border-radius: 4px;
  height: 8px;
  width: 100%;
}

.menu > .scroller > div[role=group] > .item > .slider > #slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default CSS styles */
  position: relative;
  appearance: none;
  width: 10px;
  display: block;
  height: 24px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #dcddde;
  -webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  opacity: 0;
  z-index: 6;
}

.menu > .scroller > div[role=group] > .item > .slider > #slider::-webkit-slider-thumb:hover {
  cursor: ew-resize;
}

.menu > .scroller > div[role=group] > .item > .slider > #progressBar {
  position: absolute;
  background: #7289da;
  border-radius: 4px;
  width: 50%;
  height: 7.3px;
  top: 36%;
  left: 0;
}

.menu > .scroller > div[role=group] > .item > .slider > #selector > #grabber {
  position: absolute;
  width: 9px;
  height: 22px;
  border-radius: 3px;
  background: #fff;
  top: -13%;
  border: 1px solid #dcddde;
  -webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  cursor: ew-resize;
  z-index: 5;
}


/*# sourceMappingURL=index.css.map */
