@font-face {
    font-family: logo;
    src: url('../assets/logo.ttf');
}

@font-face {
    font-family: body;
    src: url('../assets/body.ttf');
}

:root {
    background: #36393F;
    color: white;
    font-family: body;
    font-kerning: none;
    padding: 0px 100px 50px 100px;
    box-sizing: border-box;
}

body, p {
    background: #36393F;
    color: white;
    font-family: body;
    font-kerning: none;
    padding: 0px;
}

h1 {
    font-family: logo;
    text-align: center;
    font-size: 45px;
}

.htest {
    display: flex;
}

.zoom {
    padding: 20px;
    transition: transform 0.2s;
    margin: 0 auto;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #7289DA;
    display: flex;
    align-items: center;
}

.zoom:hover {
    transform: scale(1.2);
}

::-webkit-scrollbar {
    display: none;
}

.presences {
    height: 100vh;
    max-height: 600px;
    width: 33%;
    float: left;
    border: 1px solid white;
}

.editor {
    height: 100vh;
    max-height: 600px;
    width: 67%;
    float: right;
    border: 1px solid white;
}
