:root {
    --primary: #458588;
    --primary-shade: #83A598;
    --primary-darker: #83A598;
    --primary-hover: rgba(114, 137, 218, 0.1);
    --primary-active: #83A598;
    --secondary: #747f8d;
    --secondary-hover: rgba(116, 127, 141, 0.1);
    --success: #98971A;
    --success-hover: rgba(67, 181, 129, 0.1);
    --danger: #CC241D;
    --danger-hover: rgba(240, 71, 71, 0.1);
    --text: #EBDBB2;
    --background-primary: #282828;
    --background-secondary: #1D2021;
    --background-tertiary: #1D2021;
    --background-floating: #32302F;
    --interactive: #A89984;
    --interactive-active: var(--text);
    --interactive-hover: #BDAE93;
    /* Begin fosscord specific */
    --BTN-primary-hover-background: #B16286;
    --BTN-primary-active-background: #D3869B;
    --BTN-danger-hover-background: #d84040;
    --BTN-danger-active-background: #c03939;
    --BTN-success-hover-background: #689D6A;
    --BTN-success-active-background: #8EC07C;
}